version = 0.1

[default]
[default.global.parameters]
stack_name = "daily-gratitude"

[default.deploy]
[default.deploy.parameters]
stack_name = "daily-gratitude"
region = "eu-west-1"
confirm_changeset = false
capabilities = "CAPABILITY_IAM"
resolve_s3 = true
resolve_image_repos = true
parameter_overrides = [
    "SenderEmail=leonrud6@gmail.com",
    "ArchiveTimeZone=Asia/Jerusalem"
]
